body {
    font-family: sans-serif;
   
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
.faq {
    margin-bottom: 20px;
}
.faq h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}
.faq p {
    line-height: 1.6;
}


nav{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    background-color: #F1F0E9;
    padding: 10px 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
    
}
nav .h2{
    font-size: 28pt;
    font-family: "Playfair", serif;
    font-style: normal;
    font-weight: 900;
    color: #41644A;
    padding: 5px 20px ;
    min-width: fit-content;
}
nav .h2:hover{
    cursor: pointer;
}
nav ul{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 20px;
}
 nav .li{
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    margin: 0px 20px;
}

nav .li:hover{
    color: #0D4715;
    border-bottom: 2px solid #0D4715;
    padding-bottom: 5px;
    cursor: pointer;
    
}
nav a{
    color: black;
    text-decoration: none;
}
nav button{
    font-size: 10pt;
    font-weight: 500;
    border-radius: 30rem;
    padding: 15px 23px;
    background-color: #41644A;
    color: #F1F0E9;
    border-style: none;
    margin: 0 10px;
    width: 140px;
}
nav button:hover{
    font-weight: 500;
    font-size: 10pt;
    background-color: transparent;
    border: 3px solid #0D4715;
    color: #0D4715;
    cursor: pointer;
    transition-duration: 0.4s;
}

@media screen and (max-width: 900px) {
    nav {
      position: absolute;
      right: 0;
      width: 100%;
      flex-direction: column;
      align-items: center;
    
    }
    nav button{
        display: none;
    }
    nav .li{display: none;}
}


.menu-toggle {
    display: none;
    font-size: 28px;
    color: #41644A;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 20px;
}

#menu-toggle {
    display: none;
}

@media screen and (max-width: 900px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        display: none;
        background-color: #F1F0E9;
        padding: 10px 0;
    }

    #menu-toggle:checked + label + ul {
        display: flex;
    }

    nav .li {
        margin-top: 100px;
        display: block;
        margin: 10px 20px;
        width: 100%;
    }

    nav button {
        display: none;
    }

    nav .menu-toggle {
        display: block;
    }
}
